* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
td {
    border: 1px solid darkslategray;
    padding: 5px 8px;
}
.data-table-container {
    margin: 0 auto;
}
.pagination-wrapper {
    margin-top: 30px;
    text-align: center;
}
.pagination-label {
    margin-right: 30px;
}
table {
    border: 1px solid darkslategray;
    margin: 30px auto;
}
.checked {
    background-color: #767f80;
}
.page-btn {
    padding: 8px 12px;
    margin-right: 5px;
}
.pagination-box {
    text-align: center;
}